<layout name="Layout/layout"/> 

        <div class="page-title">
            <h3>首页</h3>
            <div class="page-breadcrumb">
                <ol class="breadcrumb">
                    <li><a href="{:U('Index/index')}">首页</a></li>
                    <li><a href="{:U('Index/index')}">首页</a></li>
                </ol>
            </div>
        </div>
        <div id="main-wrapper">
            <div class="row m-t-md">
                <div class="col-md-12">

                    <div class="mailbox-content panel">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <div id="example_wrapper" class="dataTables_wrapper">

                                    1111111111111

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



