            <ul class="ui-tiled" style="margin:5px 0;background-color:#fff;">
                <!--<li data-href="__CONTROLLER__/sign">
                    <div class="ui-txt-success"> <i class="ui-icon-wallet"></i><h5>签约</h5> </div>
                </li>-->
                <li data-href="__CONTROLLER__/pay">
                    <div class="ui-txt-muted"> <i class="ui-icon-order"></i><h5>资金明细</h5> </div>
                </li>
                <li data-href="__CONTROLLER__/intro">
                    <div class="ui-txt-muted"> <i class="ui-icon-add-people"></i><h5>个人资料</h5> </div>
                </li>
                <li data-href="__CONTROLLER__/share">
                    <div class="ui-txt-muted"> <i class="ui-icon-share"></i><h5>我的推广</h5> </div>
                </li>
            </ul>