<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <title>个人中心-我的推广</title>
        <link rel="stylesheet" href="__STATIC__/css/frozen.css">
        <script src="__STATIC__/lib/zepto.min.js"></script>
        <script src="__STATIC__/js/frozen.js"></script>
    </head>
    
    <body ontouchstart>
        <header class="ui-header ui-header-positive ui-border-b">
            <h1>个人中心-我的推广</h1>
        </header>



        <section class="ui-container">
            <div class="ui-flex ui-flex-pack-center"  style="background-image:url(__STATIC__/images/bg.png);background-repeat:no-repeat;background-size:cover;height:170px;">
                    <div  style="margin-top:10px;"> 

                        <img src="
<php>
    if( empty($info['head_img']) || is_null($info['head_img']) ){
        echo '__STATIC__/images/head80.jpg';
    }else{
        echo $info['head_img'];
    }   
</php>  
" alt="" id="head" width="100"> 
        
                        <div class="ui-flex ui-flex-pack-center ui-txt-muted"> 
                            <span> <h2>{$info['name']}</h2> </span>
                        </div>
                        <div class="ui-flex ui-flex-pack-center"> 
                            <span class="ui-txt-success"> 
                                <strong> ￥{$info['money']} </strong> 
                            </span>
                        </div>

                    </div>
            </div>


<!-- userNav -->
    <include file="Public/userNav"/>
<!-- userNav -->


        <div class="demo-block">
            <div class="ui-tab">
                <ul class="ui-tab-nav ui-border-b">
                    <li class="current">推广详情</li>
                    <li>我的用户</li>
                </ul>
                <ul class="ui-tab-content">
                    <li>
                        <ul class="ui-tiled" style="margin-top:5px;background-color:#fff;">
                            <li><div class="ui-txt-muted"><h5>已赚佣金</h5></div> <i><h2>1.8</h2></i> </li>
                            <!-- <li><div class="ui-txt-muted"><h5>佣金比例</h5></div> <i><h2>1.8%</h2></i> </li> -->
                            <li><div class="ui-txt-muted"><h5>邀请用户</h5></div> <i><h2>{$info['inviter']}</h2></i> </li>
                        </ul>  

                        <div class="ui-flex ui-flex-pack-center" style="margin-top:5px;background-color:#fff;">          
                            <span class="ui-txt-muted">复制推广链接发送给朋友</span>    <br>
                        </div>
                        <div class="ui-flex ui-flex-pack-center " style="background-color:#fff;">          
                            <span style="word-break:break-all;word-wrap:break-word;text-align:center;">
                                <a href="{$info['siteUrl']}"> 点击查看 </a>
                            </span>
                        </div>
                        <div class="ui-flex ui-flex-pack-center" style="margin:5px 0;background-color:#fff;">          
                            <div id="qrcode" height="250"> 
                                {$info['qrcode']}
                            </div>
                        </div>
                        <div class="ui-flex ui-flex-pack-center">           
                            <span class="ui-txt-muted"> 
                                 <h2>扫一扫</h2> 
                            </span>
                        </div>
                        

                    </li>
                    <li>

                            <table class="ui-table">
                                <thead>
                                    <tr>
                                        <th><h5>用户</h5></th>
                                        <th><h5>佣金</h5></th>
                                        <th><h5>注册时间</th></tr>
                                </thead>
                                <tbody>

<volist name="info['inviterList']" id="vo">   
                                    <tr class="ui-txt-muted">
                                        <td><h5>{$vo.name}</h5></td>
                                        <td class="ui-txt-success">+0.8</td>
                                        <td> <h5>{:date('Y-m-d H:i',$vo['add_time'])}</h5> </td>
                                    </tr> 
</volist>  

<!--                                     <tr class="ui-txt-muted">
                                        <td><h5>six</h5></td>
                                        <td><h4>20</h4></td>
                                        <td class="ui-txt-success">+0.8</td>
                                        <td>30</td>
                                        <td> <h4>2017-5-30 20:30</h4> </td>
                                    </tr>    -->

                                </tbody>
                            </table>

                    </li>
                </ul>
            </div>
        </div>
       


<!-- qrcode -->
    <include file="Public/qrcode"/>
<!-- qrcode -->

<!-- footer -->
    <include file="Public/footer"/>
<!-- footer -->


        </section>

</html>